    <td>{{repository.fullName}}</td>
    <td><a href="{{repository.htmlURL}}" target="_blank">Go To Repo</a></td>
    <td>{{repository.language}}</td>
    <td>{{repository.private}}</td>
    <td>{{input id=repository.name type='checkbox' checked=repository.showBranchDetail}}</td>
    <!--<button {{!action 'getBranchInformation' repository.fullName}}>Full Details</button>-->