<section class="container">
    <div class="wrapper">
        <h1 id="main-header">Ember - GitHub Browser</h1>

        <fieldset>

            {{#if validGitHubToken}}
                <p><span>Valid Token API found</span> {{gitHubAccessToken}}</p>

                <form class="form form--organisationSearch" {{action 'searchForOrganisation' on='submit'}}>
                    <div class="form__label--container" >
                        <label class="form__label" for="organisationSearchString">GitHub Organisation</label>
                    </div>
                    <div class="form__input--container">

                      {{validated-input value=organisationSearchString valid=organisationSearchStringValid validationType='text' placeholder="Enter GitHub organisation name" type="text" required=true input-class="form-control"}}

                      {{#link-to 'organisation-details' organisationSearchString}} <button disabled={{unless organisationSearchStringValid true}}>Search</button>{{/link-to}}
                    </div>
                </form>
            {{else}}

                <form class="form form--authenticateGitHubAccessToken" {{action 'authenticateGitHubAccessToken' on='submit'}}>
                    <div class="form__label--container">
                        <label for="gitHubAccessToken">GitHub API token</label>
                    </div>
                    <div class="form__input--container">
                        {{validated-input value=gitHubAccessToken valid=gitHubAccessTokenValid validationType='token' placeholder="Enter your GitHub API token" type="text" required=true input-class="form-control"}}
                        <button type="submit" disabled={{unless gitHubAccessTokenValid true}}>Submit</button>
                    </div>
                </form>
            {{/if}}

                {{outlet}}

        </fieldset>
    </div>
</section>




