{{model.title}}

{{model.name}}


{{#link-to 'repository' 'emberjs/starter-kit' (query-params param="pete")}}repository{{/link-to}}

{{#link-to 'repository' 'emberjs/starter-kit' (query-params param="pete")}}
    <span {{action 'getRepositoryDetails' this}}>
      {{name}}
    </span>
{{/link-to}}


<ul>
  {{#each model.organisation as |organisation|}}
      <li>{{organisation.name}} by {{organisation.title}}</li>
  {{/each}}
</ul>

<ul>
  {{#each model.repositories as |repository|}}
      <li>{{repository.name}}</li>
  {{/each}}
</ul>



{{outlet}}
